<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 250%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<body>

<h1>Successfully Logged In</h1>
<p>Enjoy Your Movie Time</p>

<video width="320" height="240" controls>
  <source src="https://moviedata221.azureedge.net/moviedata22/Bazzi.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

</body>
</html>
